.navegacion {
    display: flex;
    height: 100px;
    background-color: rgb(173, 27, 173);
    justify-content: space-between;
}
.logo {
    height: 150px;
    align-self: center;
    width: 210px;
}
.listaD {
    display: flex;
    align-items: flex-end;
    margin-left: 100px;
    list-style: none;
}
.listaD li {
    list-style: none;
    margin-left: 20;
    margin-right: 10px;
}

.listaD li a {
    text-decoration: none;
}

.seccion {
    display: flex;
    height: 950px;
    background-color: lab(91.74% -14.06 -8.53);
    margin-top: 40px;
    margin-right: 40px;
}
.articulo1 {
    flex-grow: 3;   
}
.costao {
    flex-grow: 1;
    background-color: rgb(86, 160, 160);
    width: 850px;
}
.titulo {
    display: flex;
    text-decoration: underline;
    justify-content: center;
    font-size: 25px;
}
.parrafo {
    padding: 20px;
}
.parrafizq {
    text-align: left;
}
.parrafcen {
    text-align: center;
}
.parrafder {
    text-align: right;
}
.divicion {
    text-align: center;
    height: 200px;
    width: 1300px;
    background-color: rgb(179, 245, 245);
}
#pata {
    height: 200px;
    width: 1300px;
    background-color: blanchedalmond;
}
/* FORMULARIO */

.divisionF {
    height: 500px;
    width: 1300px;
    background-color: aquamarine;
    margin-top: 20px;
}
.navF {
    height: 200px;
    width: 700px;
    background-color: rgb(204, 149, 67);
    display: flex;
}
#jarsa {
    height: 170px;
    width: 250px;
}
.listaD {
    display: flex;
    align-items: flex-end;
    margin-left: 100px;
    list-style: none;
}
#pata2 {
    height: 200px;
    width: 1300px;
    background-color: blanchedalmond;
}

/* NOSOTROS */

.navegacion {
    display: flex;
    height: 200px;
    background-color: rgb(218, 147, 218);
    justify-content: space-between;
}
#logo {
    height: 190px;
    width: 280px;
}
.listaD {
    display: flex;
    align-items: flex-end;
    margin-left: 100px;
    list-style: none;
}
.seccion2 {
    display: flex; 
    height: 700px; 
    width: 1300px; 
    background-color: aliceblue; 
    margin-top: 20px;
}
.articuloN {
    flex: 2; 
    padding: 20px;
}
.costao2 {
    flex: 1; 
    background-color: aquamarine; 
    padding: 20px;
}
#logo {
    height: 190px;
    width: 280px;
}
#pata3  {
    height: 200px;
    width: 1300px;
    background-color: blanchedalmond;
}

/* */